@media screen and (max-width: 480px) {
    .dem-all {
      height: 100px;
      background-color: #DBB486;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dem-title {
      font-family: "Inter";
      font-style: normal;
      color: rgb(255, 255, 255);
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    .dem-icon {
        height: 20px;
        margin-left:20px ;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .dem-all {
      height: 100px;
      background-color: #DBB486;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dem-title {
      font-family: "Inter";
      font-style: normal;
      color: rgb(255, 255, 255);
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    .dem-icon {
        height: 20px;
        margin-left:20px ;
    }
  }
  @media screen and (min-width: 1024px) {
    .dem-all {
      height: 100px;
      background-color: #DBB486;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dem-title {
      font-family: "Inter";
      font-style: normal;
      color: rgb(255, 255, 255);
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    .dem-icon {
        height: 20px;
        margin-left:20px ;
    }
  }
  