#con-prenom{
	width: 49px;
	background: transparent;
	border-color: transparent;
	color: lightgreen;
}
#con-prenom::placeholder{
	color: red;
}
#con-nom{
	width: 27px;
	background: transparent;
	border-color: transparent;
	color: lightgreen;
}
#con-nom::placeholder{
	color: red;
}
input:hover
{
    border: none;
}
input:focus {
     outline:  none;
}

@media screen and (max-width: 480px) {
  .con-all {
    background-color: #002a33;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
  .con-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .con-title {
    color: #86b3db;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 20px;
  }
  .con-in-titre {
    margin: 20px;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
  .con-in {
    margin-left: 40px;
    width: min-content;
  }
  .con-instalogo{
    width: 40px;
  }
  .con-lien{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .con-all {
    background-color: #002a33;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
  .con-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .con-title {
    color: #86b3db;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 20px;
  }
  .con-in-titre {
    margin: 20px;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
  .con-in {
    margin-left: 40px;
    width: min-content;
  }
  .con-instalogo{
    width: 40px;
  }
  .con-lien{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .con-all {
    background-color: #002a33;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
  .con-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .con-title {
    color: #86b3db;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 20px;
  }
  .con-in-titre {
    margin: 20px;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
  }
  .con-in {
    margin-left: 40px;
    width: min-content;
  }
  .con-instalogo{
    width: 40px;
  }
  .con-lien{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}
