@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@700&display=swap');
.acc-sun{
  color: #eaf205;
}

@media screen and (max-width: 480px) {
  .acc-all {
    /* background-image: url("../../assets/acc-img2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .acc-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    height: 100%;
    color: #ffffff;
    z-index: 1;
  }
  .acc-txt {
    visibility: hidden;
    height: 0px;
  }
  .acc-image{
    /* visibility: visible;
    width: 100%;
    height: auto; */
    position: absolute;
    top: 0;
    background: transparent;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
  }
  .acc-forme{
  	height :100%;
  	width:100%;
  	overflow:hidden;
    background-color: black;
  }
  .acc-bando{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 90%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .acc-all {
    /* background-image: url("../../assets/acc-img2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    height: 100vh;
    overflow: hidden;
  }
  .acc-cnt {
    bottom: 50%;
    left: 2%;
    position: absolute;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .acc-txt {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-orientation: upright;
    color: #ffffff;
  }
  .acc-btn {
    margin-top: 20px;
    padding: 12px 32px;
    background: #EAF205;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    font-family: "Raleway";
  }

  .acc-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    right: 5%;
    top: 10%;
    height: auto;
    color: #ffffff;
  }
  .acc-image{
    /* visibility: visible;
    width: 100%;
    height: auto; */
    position: absolute;
    top: 0;
    background: transparent;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    
  }
  .acc-forme{
    /* visibility: visible;
    width: 100%;
    height: auto; */
    background:transparent;
  	height :100%;
  	width:100%;
  	transform: skewY(3deg);
    transform-origin: bottom right;
  	overflow:hidden;
    background-color: black;
  }
  .acc-bando{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .acc-all {
    /* background-image: url("../../assets/acc-img2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    height: 100vh;
    overflow: hidden;
  }
  .acc-cnt {
    bottom: 50%;
    left: 2%;
    position: absolute;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .acc-txt {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-orientation: upright;
    color: #ffffff;
  }
  .acc-btn {
    margin-top: 20px;
    padding: 12px 32px;
    background: #EAF205;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    font-family: "Raleway";
  }

  .acc-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    right: 5%;
    top: 10%;
    height: auto;
    color: #ffffff;
  }
  .acc-image{
    /* visibility: visible;
    width: 100%;
    height: auto; */
    position: absolute;
    top: 0;
    background: transparent;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    
  }
  .acc-forme{
    /* visibility: visible;
    width: 100%;
    height: auto; */
    background:transparent;
  	height :100%;
  	width:100%;
  	transform: skewY(3deg);
    transform-origin: bottom right;
  	overflow:hidden;
    background-color: black;
  }
  .acc-bando{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 90%;
  }
}
